<%= form_for [project,comment] do |f| %>
	<div class="outer-textarea">
	<%= f.text_area :content, class: "reply_textarea" %>
	</div>
	<% if parent %>
		<%= f.hidden_field :parent_id, :value => parent %>
	<% end %>
	<%= f.submit "Take that!", class: "btn reply-btn" %>
<% end %>