<div class="profile-container">
  <h2>Job: <%= job.title%></h2>
  <p>Description: <%= truncate(job.description, length:80)%></p>
  <p>Bounty: <%= job.bounty %></p>
  <p>Status: <span style="color:green;">Open</span></p>
</div>