<div class="account-box" style="border-top: 1px solid #eee;">
  <%= link_to project.name, project %> posted <%= time_ago_in_words(project.created_at) %><br>
  <%= project.description %><br>
  <br />
  <% render project.categories %>
</div>