/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800');
@import "ionicons";
body{
background: #F9F9F9;
font-family:'Montserrat';
}
.outer-textarea{
	padding:2px;
}
.reply_textarea{
	width:100%;
	height:60px;
	border-radius:4px;
	resize: none;
	border-color:#E8E8E8;
	border-width:2px;
}

.mainbod{
background:white;
}

.reply-content{
	overflow-wrap: break-word;
}

.js-reply{
	background:none;
	border:none;
	color:blue;
}

.tag-btn{
	margin:4px;
	margin-top:8px;
	font-size:12px;
	color:white;
	background-color:#F06095;
	border-color:#F06095;
}

.tag-x{
font-size:9px;
font-weight:700;	
margin-left:15px;
}

.tag-btn-inner{
	color:black;
	text-align:center;
}

.input-wrap{
	width:40%;
	float:left;
}
.account-box{
	padding:10px;
	background: #fff;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.04);

}

mid-section{
	margin-top:20px;
	margin-bottom:20px !important;	
}

.tunnel-party{

}

.muh-tags{
	width:215px;
	padding:8px;
	background-color:white;
    border: 1px solid #e5e5e5;
}
.muh-tags {
	text-align:left;
	color:black !important;
    border: 1px solid #e5e5e5;
    background-color: #fbfbfb;
}
/*


.muh-tags-inner{
	text-align:center;
	color:black !important;	
}


*/


.so-much-tags{
	margin-top:8px;
	margin-bottom:5px;
	margin-left:60px;
	margin-right:60px;	
}

.btn-main{
	background:#DA552F;
	border:1px solid #DA552F;
	color:white;
}


.yesyes{
color:#FF5252;	
}
.ion-ios-heart::before, .ion-ios-heart-outline::before {
	font-size:50px;
	width:50px !important;
	height:50px !important;	
}
.ion-ios-heart{
	width:50px !important;
	height:50px !important;
}
.icon-size {
font-size:40px !important;
	width:50px !important;
	height:50px !important;
}
#heart-heart{
color:#FF5252;		
}
