<div style="margin-top:20px;" class="muh-tags-outer">

	<div class="so-much-tags">
		<div class="muh-tags">
			<span class="muh-tags-inner"><%= link_to category.name, category, class: "tag-btn-inner" %>
			<span class="tag-x">X</span></span>
		</div>
	</div>
</div>